 *{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    box-sizing: border-box;

}

body{
    background-color: aliceblue;
}
/* main header  */
.header_menu{
    background-color: rgba(51, 52, 104, 0.888);
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    min-height: 80px;
}





/* logo of the site */
.header_logo{
    display: block;
}

.header_brand {
    display: block;
}

/* The group of links */
.header_links{
    margin-left: auto;
    display: flex;
    align-items: center;
}


/* the link itself */
.header_link_item{
    padding: 20px;
    text-decoration: none;
    color:rgb(255, 170, 59);
    font-weight: bold;
}

.header_link_item:hover,
.header_link_item:focus,
.header_link_item.active {
    color: white;
}

main {
    padding: 30px;
}

@media (max-width: 650px) {
    .header_menu {
        flex-direction: column;
    }

    .header_links {
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header_link_item {
        padding: 10px;
    }
}
