 *{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
        margin: 0px;    

}

body{
    background-color: aliceblue;

}

main{
    margin: 20px;
}
/* main header  */
.header_menu{

    justify-content: left;
    background-color: rgb(162, 197, 177);
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    min-height: 80px;
}


/* logo of the site */
.header_logo{
    display: block;
}

.header_brand {
    display: block;
}

/* The group of links */
.header_links{
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 10px;
}


/* the link itself */
.header_link_item{
    padding: 10px;
    text-decoration: none;
    color:rgb(16, 56, 27);
    font-weight: bold;
    transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out,
                border-radius 0.2s ease-in-out;
}

.header_link_item:hover{
    background-color: black;
    border-radius: 10%;
    color: yellow;
}
.header_link_item:focus,
.header_link_item.active {
    color: rgb(40, 52, 145);
}

.image_container img{
    filter: brightness(0.5);
}
.image_container{
    position: relative;
}
 .image_text{
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: rgb(230, 237, 241);
    text-align: center;
} 


.image_text.about_us{
    top: 25%;
    left: 30%;
    max-width: 300px;
}

.image_text h1, 
.image_text p {
    margin: 0;  /* Remove default margins */
    padding: 5px 0;  /* Add space between lines */
}

/* FAQ Sections styling */

.faq_sections{
    max-width: 800px auto;
    background-color: azure;
    display: block;
    border-radius: 20px;
    margin: 20px;
    padding: 40px;
}
.faq_sections h1{
    text-align: center;
    padding: 20px;
    color: rgb(22, 93, 74);
    border-bottom: 25px;
}
#faq_description{
    text-align: center;
}


details{
    background-color: rgb(198, 216, 216, 0.2);
    font-size: 24px;
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
    border-left: 10px solid rgb(203, 234, 206);
}







/* forms and other embedded element */
.form_container{
    margin: 0 auto;
    padding: 5px;
    max-width: 800px;
}



@media (max-width: 650px) {
    .header_menu {
        flex-direction: column;
    }

    .header_links {
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header_link_item {
        padding: 10px;
    }

    .image_text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(230, 237, 241);
    text-align: center;
    font-size: 24px;
    }

    .image_text.about_us{
    top: 45%;
    left: 50%;
    font-size: 24px;
    }

    /* sections for FAQ */
    .faq_sections{
    max-width: 400px auto;
    background-color: azure;
    display: block;
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
}
    .faq_sections h1{
    text-align: center;
    padding: 10px;
    color: rgb(22, 93, 74);
    border-bottom: 25px;
        }

    details{
    background-color: rgb(198, 216, 216, 0.2);
    font-size: 20px;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    border-left: 10px solid rgb(203, 234, 206);
    }









}
